* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');


html {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

body {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 16px;
  color: #cecece;
  width: 100vw;
  height: 100vh;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.animSolo {
  animation: anime 1s forwards;

}

.main {
  width: 80%;
  height: 90%;
  box-shadow: .1rem .1rem 2rem rgba(211, 211, 211, 0.5);
  position: relative;
  top: 5%;
  left: 10%;
  border-radius: 1rem;
  text-align: center;
  padding: 3rem;
  min-height: fit-content;
  transition: .8s;
  backdrop-filter: blur(6px);

  span {
    opacity: 0;
  }

  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    transition: .8s;
    opacity: 0;
    color: #3cd5a7;
  }

  
  #result{
    margin-top: 5%;
    text-align: left;
    opacity: 0;
    p {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: .3rem;
      position: relative;
      top: 5%;
      transition: .8;
      color: #1b886d;
      overflow-wrap: break-word;
      span {
        opacity: 1;
      }
    }
  }
  .nonPC {
    margin: .5rem .1rem;
    display: none;

    #question {
      font-size: 1.6rem;
      width: 90%;
    }

    #find {
      font-size: 1.6rem;
      width: 90%;
      margin-top: .5rem;
    }
  }
}


@keyframes anime {
  0% {
    width: 60px;
    height: 60px;

  }

  25% {
    width: 60px;
    height: 60px;

  }

  50% {
    width: 60px;
    height: 70%;
  }

  100% {
    width: 80%;
    height: 90%;
    box-shadow: .1rem .1rem 2rem rgba(211, 211, 211, 0.5)
  }

}

@media only screen and (max-width: 650px) {
  html {
    height: 100vh;
    overflow: hidden;
  }

  body {
    overflow: hidden;


  }

  .main {
    padding: 2rem;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
      top: 0%;
    }
  }
}